@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    /* position: sticky; */
    top: 0;
    background-color: black;
    padding: 1rem;

}

nav .brand a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav .nav-items a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;

}

.heading-1 {
    margin-top: 10px;
    padding-left: 10px;
}

.log-in {
    margin-top: 1rem;
    padding-left: 1rem;
}

.log-in input {
    width: 90%;
    height: 40px;
    font-size: 1rem;
}

#login-btn {
    background-color: black;
    color: white;
    width: 7rem;
    height: 40px;
    font-size: 1rem;
    font-weight: 300;
}

.button-1 {
    margin-top: 1rem;
    padding-left: 1rem;
}